* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Open Sans", sans-serif;
}

html {
    height: 100%;
    width: 100%;
}
body {
    background-color: #141414;
    min-height: 100%;
    width: 100%;
  
}

header {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 120px;
    width: 100%;
    background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
    box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
}

.title {
    width: 198px;
    margin-left: 39px;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 32px;
    align-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1.74222px;
    color: #FFFFFF;
}

.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 362px;
    margin-top: 32px;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
    background: #F1F1F1;
    border-radius: 20px;    
}

.loupe {
    height: 16px;
    width: 16px;
    margin-left: 20px;
    fill: #A6A6A6;
}

.search-input {
    height: inherit;
    width: 301px; /*361-61*/
    margin-left: 25px;
    
    border: none;
    background-color: transparent;
    outline: 0;
}


::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #A6A6A6;
}


.profile {
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 39px;
    margin-top: 32px;
}

.logout {
    padding-right: 11px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.logout-button {
    margin-right: 33px;
    background-color: transparent;
    border: transparent;

}

.profile-photo {
    height: 44px;
    width: 46px;
    border-radius: 50%;
}

.header-line {
    height: 1px;
    grid-area: 3/ 1/ 4/ 4;
    border: none;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 16px;
    background: #FFFFFF;
}

.mainview-container {
    padding-top: 120px;
    display: flex;
    height: 100%;
    width: 100%;
}

.side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 263px;
}

.home {
    margin-top:33px;
    
    margin-left: 39px;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #7CD235;
    background-color: transparent;
    border: none;
}

.reviews {
    margin-left: 39px;
    margin-top: 11px;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF; 
    background-color: transparent;
    border: none;
}

.new-releases {
    margin-left: 39px;
    margin-bottom: 33px;
    margin-top: 11px;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF; 
    background-color: transparent;
    border: none;
}

.popular {
    margin-left: 39px;
    margin-bottom: 33px;
    margin-top: 33px;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF; 
    background-color: transparent;
    border: none;
}

.sub-menu {
    display: flex;
    width: 263px;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 11px;
}


.this-week, .this-month, .coming-soon,
.last-searches, .best {
    margin-left: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
}

.main-container {
    height: 100%;
    width: 100%;
    padding-left: 263px;
}

.main-title {
    margin-top: 24px;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 75px;
    color: #FFFFFF;
}

.sub-title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.cards-container {
    height: 100%;
    width: 100%;
    margin-top: 30px;
}
.games-list {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-auto-rows: 314px;
    gap: 24px;
}

.card-display {
    height: 314px;
    width: 363px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
}
ul {
    list-style-type: none;
  }